[Unit]
Description=Restic Forget and Prune Backup Repo
After=wait-for-internet.service
Requires=wait-for-internet.service

[Service]
Type=exec
ExecStart=/opt/restic/restic-helper prune

[Install]
WantedBy=multi-user.target
