[Unit]
Description=Restic Backup Service
After=wait-for-internet.service
Requires=wait-for-internet.service

[Service]
Type=exec
ExecStart=/opt/restic/restic-helper run --auto

[Install]
WantedBy=multi-user.target
